.the-team {
    background-color: #7d0898;
    color: #ffffff;
  }

.employee-info{
border: none;
display: flex;
margin: 2em;
background-color: bisque;
flex-direction: column;
justify-content: space-between;
width: 78;
}

